In [1]:
import pandas as pd 
import math
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import pickle
style.use('ggplot')

E:\Program Files\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv("C:/Users/Dell/Desktop/Python/new_bitcoin_price_Training.csv")
# df.set_index('day',inplace=True)
df.tail()

           Date    Open    High     Low   Close        Volume     Market Cap
1308  31-Dec-13  760.32  760.58  738.17  754.01  20,897,300.0  9,268,240,000
1309  30-Dec-13  741.35  766.60  740.24  756.13  20,707,700.0  9,037,000,000
1310  29-Dec-13  728.05  748.61  714.44  745.05  19,011,300.0  8,872,600,000
1311  28-Dec-13  737.98  747.06  705.35  727.83  32,505,800.0  8,990,850,000
1312  27-Dec-13  763.28  777.51  713.60  735.07  46,862,700.0  9,295,570,000

In [3]:
type(df['Volume'][0])

str

In [4]:
df['HL_PCT'] = (df['High'] - df['Low'])/ df['Low'] * 100
df['PCT_change'] = (df['Close'] - df['Open'])/ df['Open'] * 100
df = df[['Close','HL_PCT','PCT_change','Volume']]
df.head()

     Close    HL_PCT  PCT_change           Volume
0  2875.34  6.212210    4.056832    860,575,000.0
1  2757.18  4.298164    1.203572      705943000.0
2  2726.45  4.306298   -2.870304    803,746,000.0
3  2809.01  8.124699    4.824367  1,380,100,000.0
4  2671.78  6.483114    5.241638    789,104,000.0

In [5]:
forecast = 'Close'
df.fillna(-99999,inplace=True)
forecast_out = int(math.ceil(0.1*len(df)))
df['label'] = df[forecast].shift(-forecast_out)
print(df.head(),'\n',forecast_out)
df.tail()

     Close    HL_PCT  PCT_change           Volume    label
0  2875.34  6.212210    4.056832    860,575,000.0  1120.54
1  2757.18  4.298164    1.203572      705943000.0  1054.23
2  2726.45  4.306298   -2.870304    803,746,000.0  1036.74
3  2809.01  8.124699    4.824367  1,380,100,000.0   973.82
4  2671.78  6.483114    5.241638    789,104,000.0  1100.23
 132

       Close    HL_PCT  PCT_change        Volume  label
1308  754.01  3.035886   -0.829914  20,897,300.0    NaN
1309  756.13  3.561007    1.993660  20,707,700.0    NaN
1310  745.05  4.782767    2.335004  19,011,300.0    NaN
1311  727.83  5.913376   -1.375376  32,505,800.0    NaN
1312  735.07  8.955998   -3.695891  46,862,700.0    NaN

In [6]:
X = np.array(df[['Close','HL_PCT','PCT_change']])
X = preprocessing.scale(X)

X_test = X[-forecast_out:]
X = X[:-forecast_out]

df.dropna(inplace=True)
y = np.array(df['label'])

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.2)

clf = LinearRegression()
clf.fit(X_train,y_train)
accuracy = clf.score(X_test,y_test)
predicted = clf.predict(X_test)
print(predicted, accuracy) #since the input data we got in decreasing price value

[ 468.17797193  390.66330543  367.95274572  424.86029332  385.65720422
  359.03847888  401.73282975  400.23112708  471.44344621  386.28623126
  478.39635559  476.25860693  609.22705167  553.82147161  358.01675265
  361.57874056  532.58634737  359.75845565  527.00786261  403.17408675
  578.63751104  478.21488229  659.90955462  472.77270214  486.14632215
  365.25033556  369.45025072  478.44820884  379.90927958 1244.99109233
  717.70816549  538.17454771  469.48036284  418.98466309  500.45629941
  548.85243559  402.06939849  380.11561463  615.85052777  448.63716786
  406.70842841  482.71433749 1071.42922085  433.77720793  428.32278391
  532.77234016  425.38858598 1128.74575432  492.34859448  662.41330425
  413.01896224  469.09170405  354.41681171  363.51514855  378.48098083
  519.86918954  369.16568003  436.55816484  364.53414423  373.50763799
  584.76849615  436.30620569  416.72960854  371.23193564  361.47367107
  425.78077943  523.63766874  427.37466802  510.27967877 1199.63135805
  372.00892062  355.98110623  410.30343024  408.8998262   405.50152721
  480.77857673  620.49476108  863.65734763  414.5444955   513.48193406
  422.85431318  413.99291842  373.02798964  470.60701526  416.50898839
  481.17508822  394.21028274  366.46397567  397.76296517  479.13827625
  360.96363117  392.93341428 1066.18338773  361.69067706 1105.90922919
  470.95472188  696.34613921  373.01021472 1091.52479421  355.7134542
  362.86299693  476.27628093  414.57328077  359.02656865  480.2179657
  354.08953383  490.0976199   365.07431293  355.41350448  406.77685427
  410.88132088 1098.25298281  360.12549779  444.2241124   407.51631491
  456.35113673  358.86975638  485.73732326  427.26905755  491.395115
  463.96224479  435.68146406  376.47579242  369.29265959  474.7428939
  439.93616028  519.46897319  363.03243625  603.50942592  475.17901798
  535.38993575  396.69064307  529.36589807  422.39998164  655.10225278
  369.9671048   519.22701093  407.57717592  419.1364753   492.69760692
  369.44475098  415.79205105 1105.98291405  424.41676884 1130.61553369
  421.9338631   367.08065264  531.64013528  638.6605728   423.818902
  422.48292381  372.17194707  400.04164133  623.37189308  424.98783121
  373.42304874  493.99073737  430.43350483 1222.86350813  394.82837061
  440.91551665  420.11229453  606.75289503  511.38982459  351.9484408
 1169.30090527  386.43733664  413.72620028  370.92223883  453.86698092
  652.30114293  398.58366344  359.4715858   468.02846422  531.84744679
  368.03234768  388.44428485 1174.37984275  359.37405758  385.58975034
  356.0390385   424.59368457  366.28212124  663.31020125  422.00282421
  404.88275847  357.47221896  494.0180548   464.83622716  427.38118778
  499.38379279  394.17682151  358.19154001  672.03430636  670.28730221
  431.274876    482.74558945  407.385911    401.87465148  475.9919603
  384.63710807  490.29939795  408.33064346 1142.98980107  374.9054694
  492.90712667  420.09679377  485.98297121  373.33887057  374.67223271
  357.64345731  356.0384186   368.51547687  477.26503226  496.19927946
  353.31663956  476.21492089  526.14072821  356.49297819  357.51445528
  406.93822653  422.61935083  684.06258003  391.51177218  357.1770065
  357.66605579  507.21482865  471.76012577  580.10273251  375.24185401
 1106.65242869  475.27707183  475.36429454  667.62799366  356.18518289
  414.76136264  472.04817903] 0.6283156777777217